h1 {
    font-family: 'Recoleta', sans-serif;
}

html {
    font-size: calc(1em*.625); // 10px = 1rem
    line-height: 1.30;
}

.app {

    section {

        .block_container {
            font-weight: 300;
            font-size: 1.8rem;
            color: #151515;
            display: flex;
            justify-content: center;
            min-height: 100%;
            align-items: center;
            text-align: center;

            h1 {
                font-size: 3.8rem;
                font-weight: 500;
                padding: 2.4rem 0 1.6rem 0;
            }

            .block_content {

                .question_annex {
                    width: 80%;
                    justify-content: center;
                    margin-right: auto;
                    margin-left: auto;
                    font-size: 18px;
                    line-height: 140%;
                }

                .uppercase {
                    font-size: 1.3rem;
                    text-transform: uppercase;
                    font-weight: 800;
                    letter-spacing: 0.14em;
                }

                .block_bottom_container {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 4rem;
                    justify-content: center;
    
                    .block_card {
                        position: relative;
                        width: 264px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-right: 4rem;
                        padding-bottom: 4rem;
                        background-color: #FFFFFF;
                        box-shadow: 8px 8px 0px rgba(134, 23, 25, 0.1);
                        border-radius: 0.2rem;
                        cursor: pointer;

                        * {
                            pointer-events: none;
                        }

                        .check {
                            position: absolute;
                            top: 1.6rem;
                            right: 2rem;
                            pointer-events: none;
                        }

                        .block_card_img {
                            margin-top: 4rem;
                            height: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            pointer-events: none;
                        }
                        .block_label {
                            padding-top: 1.6rem;
                            pointer-events: none;
                        }
                        .block_description {
                            color: #6E798C;
                            margin: 1rem 1.9rem;
                            line-height: 120%;
                            pointer-events: none;
                        }
                    }

                    .inactive * {
                        opacity: 0.6;
                    }
                    .inactive {
                        box-shadow: none;
                    }

                    .block_card:last-child {
                        margin-right: 0;
                    }   
                    
                    .block_card_description {
                        position: relative;
                        width: 26.4rem;
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 5.5rem;
                        background-color: #FFFFFF;
                        box-shadow: 8px 8px 0px rgba(134, 23, 25, 0.1);
                        border-radius: 0.2rem;
                        cursor: pointer;

                        &:nth-child(-n+2) {
                            margin-right: 4rem;
                        }

                        * {
                            pointer-events: none;
                        }

                        .check {
                            position: absolute;
                            top: 1.6rem;
                            right: 2rem;
                            pointer-events: none;
                        }

                        .block_card_img_description {
                            margin-top: 5.5rem;
                            height: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            pointer-events: none;
                        }
                        .block_label {
                            padding-top: 1.95rem;
                            pointer-events: none;
                        }
                        .block_description {
                            color: #6E798C;
                            margin: 1rem 1.9rem;
                            line-height: 120%;
                            pointer-events: none;
                            font-size: 16px;
                        }
                    }
                }
                .block_bottom_container_annex {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin-top: 4rem;

                    .block_card {
                        position: relative;
                        width: 264px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-right: 4rem;
                        padding-bottom: 4rem;
                        background-color: #FFFFFF;
                        box-shadow: 8px 8px 0px rgba(134, 23, 25, 0.1);
                        border-radius: 0.2rem;
                        cursor: pointer;

                        .check {
                            position: absolute;
                            top: 1.6rem;
                            right: 2rem;
                        }

                        .block_card_img {
                            margin-top: 4rem;
                            height: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .block_label {
                            padding-top: 1.6rem;
                        }
                        .block_description {
                            color: #6E798C;
                            margin: 1rem 1.9rem;
                            line-height: 120%;
                        }
                    }

                    .inactive * {
                        opacity: 0.6;
                    }
                    .inactive {
                        box-shadow: none;
                    }

                    .block_card:last-child {
                        margin-right: 0;
                    } 
                }

                .next {
                    color: #FFFFFF;
                    background-color: #151515;
                    border: none;
                    border-radius: 0.2rem;
                    box-shadow: 8px 8px 0px rgba(134, 23, 25, 0.1);
                    font-weight: 400;
                    font-size: 1.8rem;
                    cursor: pointer;
                    padding: 1.9rem 2.4rem;
                    margin-top: 4rem;
                }
            }
        }
        .back {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            padding: 2rem;
            left: 0;
            right: 0;
            font-size: 16px;
            border: none;
            background-color: #FFF5EB;
            color: #6E798C;
            bottom: 4rem;
            cursor: pointer;

            img {
                margin-right: 0.8rem;
            }
        }
    }
}