.app {
    section {
        .container {
            .input_content {
                .select_bottom_container {
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 2.6rem;
                    margin-bottom: 5.7rem;

                    select {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -ms-appearance: none;
                        appearance: none;
                        outline: 0;
                        box-shadow: none;
                        border: 0 !important;
                        background-image: none;

                        &:focus {
                            outline: none;
                        }
                    }
                    select::-ms-expand {
                        display: none;
                    }
                    .select {
                        background: url('/polygon.svg') no-repeat scroll 32rem 2.5rem;
                        background-color: #ffffff;
                        width: 35.6rem;
                        padding: 18px 24px 18px 24px;
                        border-radius: 2px;
                        border: none;
                        box-shadow: 8px 8px 0px rgba(134, 23, 25, 0.1);
                        text-align: center;
                        font-size: 20px;
                        line-height: 100%;
                        color: #151515;
                        position: relative;
                    }
                }
            }
        }
    }
}