body {
    font-family: 'Riposte', sans-serif;
}

.result_hero {
    background: url('/result.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 58.1rem;

    .container {
        width: 40%;

        :nth-child(1) {
            text-transform: uppercase;
            letter-spacing: 0.14em;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            color: #151515;
            margin-bottom: 1.6rem;
        }
        :nth-child(2) {
            font-weight: 500;
            font-size: 38px;
            line-height: 110%;
            margin-bottom: 1.6rem;
            color: #151515;
        }
        :nth-child(3) {
            font-weight: 300;
            font-size: 18px;
            line-height: 140%;
            color: #151515;
            margin-bottom: 3.2rem;
        }

        :nth-child(4) {

            button {
                width: 318px;
                height: 56px;
                border: none;
                color: #ffffff;
                background-color: #151515;
                border-radius: 0.2rem;
                cursor: pointer;
            }
        }

    }
}
.planning_container {
    height: 65.4rem;
    width: 100%;
    background-color: red;

    .result_content {
        width: 35%;
        height: 100%;
        background-color: blue;
    }
}