html {
  font-size: calc(1em*.625); // 10px = 1rem
  line-height: 1.30;
}
@font-face {
    font-family: "Riposte";
    src: url("/font/Riposte-Light.otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "Recoleta";
    src: url("/font/Recoleta-Medium.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

//import fichier css de la hero
@import './hero/header';
@import './hero/footer';
@import './hero/hero';


//import fichier css du quiz
@import './quiz/reset';
@import './quiz/quiz';
@import './quiz/input';
@import './quiz/s_block';
@import './quiz/m_block';
@import './quiz/m_input';
@import './quiz/l_block_16';
@import './quiz/email';
@import './quiz/text';
@import './quiz/m_block_6';
@import './quiz/select_list';
@import './quiz/birth_date';

//import fichier css du resultat
@import './result/footer';
@import './result/header';
@import './result/result';

//import fichiers responsive du quiz
@import './responsive/responsive_quiz';
@import './responsive/responsive_s_block';
