html {
  font-size: calc(1em*.625); // 10px = 1rem
  line-height: 1.30;
}
@font-face {
    font-family: "Riposte";
    src: url("/font/Riposte-Light.otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "Recoleta";
    src: url("/font/Recoleta-Medium.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

//import fichier css
@import 'header';
@import 'footer';
@import 'hero';
@import 'reset';
@import 'quiz';
@import 'input';
@import 's_block';
@import 'm_block';
@import 'm_input';
@import 'l_block_16';
@import 'email';
@import 'text';
@import 'm_block_6';
@import 'select_list';
@import 'birth_date';

//import fichiers responsive
@import 'responsive_quiz';
@import 'responsive_s_block';
