html {
  font-size: calc(1em*.625); // 10px = 1rem
  line-height: 1.30;
}
@font-face {
    font-family: "Riposte";
    src: url("/font/Riposte-Light.otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "Recoleta";
    src: url("/font/Recoleta-Medium.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
@import 'reset';
@import 'quiz';
@import 'type_block';
@import 'responsive_quiz';