.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .card_container {
        background-color: white;
        width: 80%;
        min-height: 70vh;
        box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
        text-align: center;

        .choices_container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .choices {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
    }
}